/* buttons */
.btn{
	position: relative;
	display: inline-block;
	vertical-align: top;
	border: 2px solid transparent;
	text-align: center;
	border-radius: $btn-border-radius-base;
	font-weight: $btn-font-weight;
	font-size: $btn-font-size;
	line-height: $btn-line-height;
	padding: 9px 38px;
	color: $btn-color;
	min-width: $btn-min-width;
	cursor: pointer;
	transition: all .3s;
	@include media("<phone"){
		font-size: 12px;
		line-height: 16px;
		border-radius: 4px;
		padding: 7px 28px;
	}
	&_sm{
		padding: 11px 8px;
		min-width: 130px;
		@include media("<phone"){
			min-width: 80px;
			padding: 10px 6px;
		}
	}
	&_md{
		font-size: 18px;
		padding: 18px 50px;
		min-width: 200px;
	}
	&_lg{
		font-size: 24px;
		padding: 18px 50px;
		min-width: 200px;
		@include media("<desktop"){
			padding: 19px 40px;
		}
		@include media("<phone"){
			font-size: 20px;
			padding: 14px 40px;
		}
	}
	&_w100{
		width: 100%;
	}
	&.active:focus,
	&.active:hover,
	&:focus,
	&:active,
	&:hover{
		box-shadow: none;
		outline: none;
	}
}
.btn__info{
	background: $mantis;
	border-color: $mantis;
	color: $white;
	&.active:focus,
	&.active:hover,
	&:focus,
	&:active,
	&:hover{
		background: $white;
		color: $mantis;
	}
}
/*end btn*/